<%= form_for(onda) do |f| %>
  <% if onda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(onda.errors.count, "error") %> prohibited this onda from being saved:</h2>

      <ul>
      <% onda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :card_title %>
    <%= f.text_area :card_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :card_description %>
    <%= f.text_field :card_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :card_image_url %>
    <%= f.text_area :card_image_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :page_title %>
    <%= f.text_field :page_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :page_header %>
    <%= f.text_field :page_header, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :page_image %>
    <%= f.text_area :page_image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :youtube_id, "or youtube video id" %>
    <%= f.text_area :youtube_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :page_image_link_target %>
    <%= f.text_area :page_image_link_target, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
