<!doctype html>
<html ⚡ lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @onda.page_title %></title>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TeamSecondWave">
    <meta name="twitter:creator" content="@Coders4Sanders">
    <meta name="twitter:title" content="<%= @onda.card_title %>">
    <meta name="twitter:description" content="<%= @onda.card_description %>">
    <meta name="twitter:image" content="<%= @onda.card_image_url %>">
    <link rel="canonical" href="http://we.stbound.com/ondas/<%= @onda.id %>" />
		<script async custom-element="amp-facebook" src="https://cdn.ampproject.org/v0/amp-facebook-0.1.js"></script>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <style amp-custom>
      /* any custom style goes here */
      body {
        background-color: white;
        background: linear-gradient(45deg,#075DA4,#388FDA, #F5FFFA) no-repeat fixed;
        text-align: center;
        padding: 2%;
      }
      footer div {
        margin-top: 30px;
        width: 100%;
        max-height:30px;
        min-height: 30px;
        background-image: url('/made.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      amp-img {
        background-color: gray;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class='heading'>
      <h1><%= @onda.page_header %></h1>
    </div>
    <amp-facebook
      width="552"
      height="310"
      layout="responsive"
      data-embed-as="video"
      data-href="<%= @onda.facebook_video_url %>"
    </amp-facebook>
    <footer>
      <div></div>
    </footer>
  </body>
</html>
