<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='wave-pool'>
  </div>
</div>

<div class='row ondas'>
  <h1>Ondas</h1>

  <table class='table table-small'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Card image url</th>
        <th>Card title</th>
        <th>Card description</th>
        <th>Page title</th>
        <th>Page header</th>
        <th>image/url/video</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @ondas.each do |onda| %>
        <tr>
          <td class='col-md-1'><%= onda.id %></td>
          <td class='col-md-1'><%= image_tag(onda.card_image_url, height: 50, width: 100) %></td>
          <td class='col-md-2'><%= onda.card_title %></td>
          <td class='col-md-2'><%= onda.card_description %></td>
          <td class='col-md-2'><%= onda.page_title %></td>
          <td class='col-md-2'><%= onda.page_header %></td>
          <% if onda.youtube_id.present? %>
            <td class='col-md-1'><%= onda.youtube_id %></td>
          <% else %>
            <td class='col-md-1'><%= link_to(image_tag(onda.page_image, height: 50, width: 100), onda.page_image_link_target) %></td>
          <% end %>
          <td class='col-md-2'>
            <%= link_to 'Edit', edit_onda_path(onda), class: 'btn btn-default' %></br>
            <%= link_to 'Preview', onda, class: 'btn btn-success' %></br>
            <%= link_to 'Publish', "https://cdn.ampproject.org/c/" + onda_url(onda).gsub(/http[s]{0,1}:\/\//, { 'http://' => '', 'https://' => 's/'}), data: { confirm: "This caches the Onda with google's AMP cache. Click OK if you're ready to finalize this Onda for sharing." }, class: 'btn btn-warning' %></br>
            <%= link_to 'Destroy', onda, method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure? Not recommended for content we've shared." } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Onda Form', new_onda_path %>
</div>

<script type='text/javascript'>
  $(document).ready(function(){
    $.get("/wave_pools", function(data){
        $(".wave-pool").append(data);
    })
  });
</script>
