<!doctype html>
<html ⚡ lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @onda.page_title %></title>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dontfup">
    <meta name="twitter:creator" content="@woobietuesday">
    <meta name="twitter:title" content="<%= @onda.card_title %>">
    <meta name="twitter:description" content="<%= @onda.card_description %>">
    <meta name="twitter:image" content="<%= @onda.card_image_url %>">
    <link rel="canonical" href="http://we.stbound.com/ondas/<%= @onda.id %>" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script> 
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js" async></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
		<script async custom-element="amp-analytics"    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <style amp-custom>
      body, html {
        height: 100%;
        min-height: 100%;
      }
      body {
        background-color: white;
        background: linear-gradient(45deg,#075DA4,#388FDA, #F5FFFA) no-repeat fixed;
        text-align: center;
        padding: 2%;
        padding-top: 5%;
        height: 100%;
      }
      amp-img {
        background-color: gray;
        border: 1px solid black;
      }
      amp-fit-text {
        font-weight: 600;
        margin-bottom: 0.25em;
        margin-top: 0.4em;
        z-index: 100000;
        border-radius: 3px;
        background-color: rgba(210,105,111, 0.5);
      }
      .video {
        max-width: 800px;
        text-align: center;
        margin: auto;
      }
      @media (max-width:668px) and (min-width: 500px) {
        amp-youtube {
          z-index: 1;
        }
      }
      @media (max-height: 768px) {
        amp-youtube {
          z-index: 1;
        }
      }
      footer {
				position:absolute;
				bottom:60px;
				width:100%;
				height:108px;
				margin-left: -2%;
      }
      @media (min-width: 500px) {
        footer div {
          width: 100%;
          max-height:30px;
          min-height: 30px;
          background-image: url('/made.png');
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          margin-top: 28px;
        }
      }
      @media (max-width: 499px) {
        footer div {
          width: 100%;
          max-height:30px;
          min-height: 30px;
          background-image: url('/made.png');
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          margin-top: 6px;
        }
      }
      amp-social-share[type=twitter] {
        border-radius: 60px;
				background-image: url('/twitter.svg');
      }
    </style>
  </head>
  <body>
		<amp-analytics type="googleanalytics" id="youtube-video">
			<script type="application/json">
				{
          "vars": {
						"account": "UA-78168080-1"
					},
					"triggers": {
						"trackPageview": {
							"on": "visible",
							"request": "pageview"
						},
						"trackClickOnTwitterLink" : {
							"on": "click",
							"selector": "#tweeter",
							"request": "social",
							"vars": {
									"socialNetwork": "twitter",
									"socialAction": "tweet"
                  "socialTarget": "https://cdn.ampproject.org/c/we.stbound.com/ondas/<%= @onda.id %>"
							}
						}
					}
				}
			</script>
		</amp-analytics>
    <div class='heading'>
      <amp-fit-text
        height="40px"
        ><%= @onda.page_header %>
      </amp-fit-text>
    </div>
    <div class='video'>
      <amp-youtube
          data-videoid=<%= @onda.youtube_id %>
          data-param-autoplay=1
          layout="responsive"
          width="720" height="405"></amp-youtube>
    </div>
    <footer>
      <amp-social-share id="tweeter" height="60px" width="270px" data-param-url="<%= @onda.published_url %>" data-param-text="<%= @onda.tweet %>" type="twitter"></amp-social-share>
      <div></div>
    </footer>
  </body>
</html>
