<%= form_for(sheet) do |f| %>
  <% if sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_area :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
